.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  .topnav a {
    padding: 20px 0px;
    float: left;
    width: 20%;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
  }
.wrapper {
    display: flex;
    width: 50%;
    margin: 0 auto;
}


.photo {
  flex: 0 0 30%;
  padding: 100px 0px;
}

.intro_div {
    flex: 1;
    padding: 100px 50px;
    text-align: left;
    font-size: 1.5vw;
    font: 1em sans-serif;
}

img {
    padding: 0;
    width: 100%;
    height: auto;
  }

.info {
  font-size: 1vw;  
}

@media only screen and (max-width: 1200px) {
  .wrapper{
    width: 100%;
  }
  .photo {
    padding: 2vh 0px;
  }
  .intro_div {
    padding: 2vh 0px;
    text-align: left;
    font-size: 1.5vw;
    font: 1em sans-serif;
  }
  .info {
    font-size: 2vw;  
  }
}