.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  .topnav a {
    float: left;
    width: 20%;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
  }
.wrapper {
    display: flex;
}
.photo {
    flex: 0 0 30%;
}

.info {
    flex: 1;
}

img {
    padding: 0;
    width: 100%;
    height: auto;
  }